{% extends 'BBCBundle::layout.html.twig' %}

{% block head %}{{ head | raw }}{% endblock %}
{% block bodyfirst %}{{ bodyfirst | raw }}{% endblock %}
{% block bodylast %}{{ bodylast | raw }}{% endblock %}


{% block title %}EPISODE{% endblock %}
{% block content %}
    <h1 class="title">EPISODE PAGE</h1>
    <h2>{{episode.title}}</h2>
    <img src="{{episode.imageHref}}" />
    <div>
        <h3>PID: {{episode.pid}}</h3>
        <h3>Synopsis:</h3>
        {% if episode.longSynopsis %}
        {{episode.longSynopsis}}
        {% elseif episode.mediumSynopsis %}
        {{episode.mediumSynopsis}}
        {% elseif episode.shortSynopsis  %}
        {{episode.shortSynopsis}}
        {% endif %}
    </div>
{% endblock %}
