{% extends 'BBCBundle::layout.html.twig' %}

{% block head %}{{ head | raw }}{% endblock %}
{% block bodyfirst %}{{ bodyfirst | raw }}{% endblock %}
{% block bodylast %}{{ bodylast | raw }}{% endblock %}


{% block title %}Symfony - Welcome{% endblock %}
{% block content %}
    <h1 class="jumbo">Welcome BBC Peeps!</h1>

    <h1>Schedules for TV services</h1>
    <img src="http://www.bubblews.com/assets/images/news/1631598340_1376996881.jpg" width="400px"/>
    <ul class="services">
      {% for service in tv_services %}
        <a href="{{ url('_schedule', {'service':service.id})}}">
            <li> {{ service.name }} </li>
        </a>
      {% endfor %}
    </ul>

    <h1>Schedules for Radio services</h1>
    <img src="http://www.studentradioalumni.com/wp-content/uploads/2011/05/pure-digital-radio.jpg" width="400px"/>
    <ul class="services">
      {% for service in radio_services %}
        <a href="{{ url('_schedule', {'service':service.id})}}">
            <li> {{ service.name }} </li>
        </a>
      {% endfor %}
    </ul>
{% endblock %}
