{% extends 'BBCBundle::layout.html.twig' %}

{% block head %}{{ head | raw }}{% endblock %}
{% block bodyfirst %}{{ bodyfirst | raw }}{% endblock %}
{% block bodylast %}{{ bodylast | raw }}{% endblock %}


{% block title %}SCHEDULE{% endblock %}
{% block content %}
    <h1 class="title">{{ service.name|upper }} SCHEDULE</h1>

    <div class="schedule">
    {% for broadcast in broadcasts %}
        <a href="/episode/{{ broadcast.ancestors_titles.episode.pid }}">
        <div class="row">
            <div class="img span2">
                <img src="{{ broadcast.image_href }}" alt="IM AN IMAGE">
            </div>
            <div class="title span8">
                    {% if broadcast.ancestors_titles.brand.title is defined %}
                        <span class="brand-title">{{ broadcast.ancestors_titles.brand.title }}</span>
                    {% elseif broadcast.ancestors_titles.series.title is defined %}
                        <span class="brand-title">{{ broadcast.ancestors_titles.series.title }}</span>
                    {% endif %}

                    {% if broadcast.ancestors_titles.episode.title is defined %}
                        :: <span class="episode-title">{{ broadcast.ancestors_titles.episode.title }}</span>
                    {% endif %}
            </div>
            <div class="time span2">
                <span class="broadcast-time">
                {{ broadcast.start_time|date('g:ia') }}
                -
                {{ broadcast.end_time|date('g:ia') }}
                </span>
            </div>
        </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}
